*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.screen{
    height: 100vh;
    width: 100vw;
    background-color: rgb(24, 0, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content:  center center;
    flex-direction: column;
}
.topo{
    background-color: rgb(5, 0, 75);
    width: 36vw;
    height: 300px;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.baixo{
    background-color: rgb(65, 0, 0);
    width: 36vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.425);
}

.noome{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
}
.nome{
    border-radius: 9px;
    width: 190px;
    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
}
.seenha{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
}
.password{
    border-radius: 9px;
    width: 190px;
    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    padding: 10px;
}
.botao{
    width: 100px;
    height: 30px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.botao:hover{
    transform: translate(1px, 1px);
    transition-duration: 0.3s;
}




